#name {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

head {
  margin: 0 auto;
}

body {
  margin: 0 auto;
  text-align: center;
}

#main_header {
  text-align: center;
}

p {
  text-align: left;
}

tr {
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid black;
}

body {
  background-color: black;
  margin: 0 auto;
}


h1 {
  color: white;
}

h2 {
  color: black;
  text-align: center;
  text-decoration: underline;
}

p {
  border: 1px solid black;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #062F4F;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: white;
}

.active1 {
  background-color: #B82601;
}
